
@{
    ViewBag.Title = "EditChoreList";
}

<h2>Chore:  @ViewBag.ChoreList.Name</h2>

<div id="SaveForm">
<button>Save</button>
</div>
<div id="ChoreListForm">
    <label>ChoreListType</label>
    <select id="ChoreListTypeId">
        <option value="@ViewBag.ChoreList.ChoreListTypeId">@ViewBag.ChoreList.ChoreListTypeName</option>
        <option value="1">Skip</option>
        <option value="2">Overload</option>
    </select>
    <br />

    <br />

    <div id="ChoreUsersList">
        <h2>Users</h2>
        <br />

        <br />

        <table id="ChoreUsersTable">
            @foreach (var ChoreUser in ViewBag.ChoreList.ChoreUsers)
            {
                <tr>
                    <td>
                        <label>@ChoreUser.FirstName @ChoreUser.LastName</label>
                    </td>

                    <td>
                        <label>@ChoreUser.Phone</label>
                    </td>

                    <td>
                        @if (ChoreUser.IsVerified)
                        {
                            <label>Verified</label>
                        }
                        else
                        {
                            <label>Not Verified</label>
                        }
                    </td>

                    <td>
                        <button>Edit User</button>
                    </td>

                    <td>
                        <button>Remove User</button>
                    </td>
                </tr>
            }
        </table>
        <br />
        <button>Add User</button>
    </div>
    <br />

    <br />

    <div id="ChoresList">
        <h2>Chores</h2>
        <br />

        <table id="ChoresTable">
            @foreach (var Chore in ViewBag.ChoreList.Chores)
            {
                <tr>
                    <td>
                        <label>@Chore.Name</label>
                    </td>

                    <td>
                        <button>Edit Chore</button>
                    </td>

                    <td>
                        <button>Remove Chore</button>
                    </td>
                </tr>
            }
        </table>
        <br />
        <button>Add Chore</button>
    </div>
    <br />

    <br />

    <div id="RotationIntervalsList">
        <h2>Scheduled Rotations</h2>
        <br />

        <table id="RotationIntervalsTable">
            @foreach (var RotationInterval in ViewBag.ChoreList.RotationIntervals)
            {
                <tr>
                    <td>
                        <label>Start Date:  @RotationInterval.StartDate</label>
                    </td>

                    <td>
                        <label>Send every:  @RotationInterval.Number</label>
                    </td>

                    <td>
                        <label>@RotationInterval.IntervalTypeName</label>
                        <select>
                            <option value="1">Days</option>
                            <option value="2">Business Days</option>
                        </select>
                    </td>

                    <td>
                        <button>Remove</button>
                    </td>
                </tr>
            }
        </table>

        <button>Add Schedule Rotation</button>
    </div>
    <br />

</div>


<div id="AddUserPopup">

</div>

<div id="AddChorePopup">

</div>

<div id="AddRotationPopup">
    <label>Start Date</label>
    <input type="text" />
    <br />

    <label>IntervalType</label>
    <select>
        <option value=""></option>
    </select>
    <br />

    public bool IsActive { get; set; }
    <label>Active</label>
    <input type="checkbox" />
</div>

@section scripts {

    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/$VERSION/dragula.min.js'></script>

    <script>
        $(document).ready(function () {

            $('#AddUser').on('click', function () {

            });//end $('#AddUser').on('click', function () {

        });//end $(document).ready(function () {
    </script>
}
