
<h1>Chore Man</h1>

<br />

@if(ViewBag.Username != null)
{
    <div>Hello @ViewBag.User.FirstName</div>
}

<div>
    <h2>Chore Lists</h2>
    <br />

    <table>
        <tr>
            <th>Chore List</th>
            <th></th>
        </tr>
        @foreach(var ChoreList in ViewBag.User.ChoreLists)
        {
            <tr>
                <td><a href="@Url.Action("EditChoreList", "Chores")?Id=@ChoreList.Id">@ChoreList.Name</a></td>
                <td>@ChoreList.ChoreListStatusName</td>
            </tr>
        }
    </table>

    <a href="@Url.Action("CreateChoreList", "Chores")">Create Chore List</a>
</div>


@section scripts{
<script>
    $(document).ready(function () {

    });//end $(document).ready(function () {
</script>

}