
@{
    ViewBag.Title = "Index";
}

<h2>Account</h2>

<div id="UserForm">
    <label>Username:</label>
    <input type="text" id="Username" name="Username" value="@ViewBag.User.Username" />
    <br />

    <label>Email:</label>
    <input type="email" id=Email" name="Email" value="@ViewBag.User.Email" />
    <br />

    <label>First Name:</label>
    <input type="text" id="FirstName" name="FirstName" value="@ViewBag.User.FirstName" />
    <br />

    <label>Last Name:</label>
    <input type="text" id="LastName" name="LastName" value="@ViewBag.User.LastName" />
    <br />

    <label>Phone:</label>
    <input type="tel" id="Phone" name="Phone" value="@ViewBag.User.Phone" />
    <br />

    <button id="SaveUserInfo">Save</button>
    <button class="Cancel">Cancel</button>

</div>

<br /><br />

<div id="PasswordForm">
    <label>Current Password</label>
    <input type="password" id="OldPassword" name="NewPassword" />
    <br />

    <label>New Password:</label>
    <input type="password" id="NewPassword" name="NewPassword" />
    <br />

    <label>Confirm Password:</label>
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
    <br />

    <button id="ChangePassword">Change Password</button>
    <button class="Cancel">Cancel</button>
</div>

<br /><br />

<div id="AccountForm">
    <label>Current Account Type:</label>
    <label>@ViewBag.User.AccountTypeName</label>
    <br />


    <div class="UpgradeLink">
        <ul>
            <li>1 Chore List</li>
            <li>1 Schedule Rotation</li>
            <li>Up to 5 Rotation Users</li>
            <li>Up to 30 notifications per month</li>
        </ul>
    </div>

    <br /><br />

    <div class="UpgradeLink" name="2">
        <label>Upgrade to Choreman+:  $8.99/month</label>
        <br />
        <ul>
            <li>Up to 3 Chore Lists</li>
            <li>Up to 3 Schedule Rotations</li>
            <li>Up to 10 Rotation Users</li>
            <li>No Ads</li>
            <li>Up to 500 notifications per month</li>
        </ul>
    </div>

    <br /><br />

    <div class="UpgradeLink" name="3">
        <label>Upgrade to Choreman Premium:  $15.99/month</label>
        <br />
        <ul>
            <li>Up to 10 Chore Lists</li>
            <li>Up to 10 Schedule Rotations</li>
            <li>Up to 50 Users</li>
            <li>No Ads</li>
            <li>Up to 1000 notifications per month</li>
        </ul>
    </div>

    <br /><br />

    <div class="UpgradeLink" name="4">
        <label>Upgrade to Choreman Enterprise:  $19.99/month (Pay as you go)</label>
        <br />
        <ul>
            <li>Unlimited Chore Lists</li>
            <li>Unlimited Scheduled Rotations</li>
            <li>Unlimited Users</li>
            <li>No Ads</li>
            <li>Messaging rates at 1cent per notification sent after 1000 notifications per month</li>
        </ul>
    </div>
    
</div>

@section scripts{
<script>
    $(document).ready(function () {

        //Save User Info
        $('#SaveUserInfo').on('click', function () {
            let confirm = window.confirm('Warning, changing your email or phone number will require verification.  Continue?');

            if (confirm) {
                let UserObject = {};

                $('#UserForm input').each(function () {
                    UserObject[this.name] = this.value;
                });//end $('#UserForm input').each(function () {

                $.ajax({
                    url: '@Url.Action("UpdateUserInfo", "UsersAPI")'
                        + '?AuthToken=' + '@ViewBag.User.AuthToken'
                        + '&Id=' + @ViewBag.User.Id
                        + '&UserValues=' + escape(JSON.stringify(UserObject))
                    ,
                    type: 'POST',
                    success: function (data) {
                        alert('Successfully changed user info');
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                        alert('Error');
                    }
                });//end $.ajax({
            }//end if (confirm){
        });//end $('#SaveUserInfo').on('click', function () {


        $('#ChangePassword').on('click', function () {
            if (OldPassword.value && NewPassword.value && NewPassword.value == ConfirmPassword.value) {
                $.ajax({
                    url: '@Url.Action("UpdateUserPassword", "UsersAPI")'
                        + '?Username=' + '@ViewBag.User.Username'
                        + '&OldPassword=' + OldPassword.value
                        + '&NewPassword=' + NewPassword.value
                    ,
                    type: 'POST',
                    success: function (data) {
                        if (data) {
                            alert('Password successfully changed');
                            window.location.reload();
                        }
                        else {
                            alert('Password Incorrect');
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        alert('Error');
                    }
                });//end $.ajax({
            }
            else {
                alert('Passwords don\'t match');
            }
        });//end $('#ChangePassword').on('click', function () {


        $('.UpgradeLink').on('click', function (data) {
            window.location.href = '@Url.Action("Upgrade", "Account")?Id=' + data.currentTarget.attributes.name.value; 
        });//end $('.UpgradeLink').on('click', function () {


    });//end $(document).ready(function () {
</script>    
}
